<p>
  <label><%= "repo_server_sync" %> </label>
  <%= check_box_tag 'settings[repo_server_sync]', 1, @settings['repo_server_sync'] %>
</p>
<p>
  <label><%= "repo_local_path" %></label>
  <%= text_field_tag 'settings[repo_local_path]', @settings['repo_local_path'] %>
</p>
<p>
  <label><%= "repo_server_path" %></label>
  <%= text_field_tag 'settings[repo_server_path]', @settings['repo_server_path'] %>
</p>
<p>
  <label><%= "repo_template_id" %></label>
  <%= text_field_tag 'settings[repo_template_id]', @settings['repo_template_id'] %>
</p>
<p>
  <label><%= "repo_redmine_sync" %> </label>
  <%= check_box_tag 'settings[repo_redmine_sync]', 1, @settings['repo_redmine_sync'] %>
</p>
<p>
  <label><%= "repo_redmine_path" %></label>
  <%= text_field_tag 'settings[repo_redmine_path]', @settings['repo_redmine_path'] %>
</p>
<p>
  <label><%= "relative_uploadfile_path" %></label>
  <%= text_field_tag 'settings[relative_uploadfile_path]', @settings['relative_uploadfile_path'] %>
</p>
<p>
  <label><%= "relative_reporting_path" %></label>
  <%= text_field_tag 'settings[relative_reporting_path]', @settings['relative_reporting_path'] %>
</p>
<p>
  <label><%= "relative_img_path" %></label>
  <%= text_field_tag 'settings[relative_img_path]', @settings['relative_img_path'] %>
</p>
<p>
  <label><%= "relative_downloadfile_path" %></label>
  <%= text_field_tag 'settings[relative_downloadfile_path]', @settings['relative_downloadfile_path'] %>
</p>
