<h2>CosmosysReqsController#index</h2>

<p>Actions:</p>
<p><%= link_to 'Create Req Repository', { :action => 'create_repo'}, :method => :get %></p>

<p><%= link_to 'Upload', { :action => 'upload'}, :method => :get %></p>
<p><%= link_to 'Download', { :action => 'download'}, :method => :get %></p>
<p><%= link_to 'DstopImport', { :action => 'dstopimport'}, :method => :get %></p>
<p><%= link_to 'DstopExport', { :action => 'dstopexport'}, :method => :get %></p>
<p><%= link_to 'Report', { :action => 'report'}, :method => :get %></p>
<p><%= link_to 'Validation', { :action => 'validate'}, :method => :get %></p>
<p><%= link_to 'Propagation', { :action => 'propagate'}, :method => :get %></p>
