<% 
 %>
<%= stylesheet_link_tag 'cosmosys_req', plugin: 'cosmosys_req' %>
<div class="req-content">
  <div class="reqtabsContainer">
  <button class="reqtablink" onclick="openReqTab('Actions', this, 'steelblue')" id="defaultOpenReqTab">Actions</button>
  <button class="reqtablink" onclick="openReqTab('AplDocs', this, 'steelblue')">Apl. Docs.</button>
  <button class="reqtablink" onclick="openReqTab('RefDocs', this, 'steelblue')">Ref. Docs.</button>
  <button class="reqtablink" onclick="openReqTab('ComplDocs', this, 'steelblue')">Compliance Documents</button>
  </div>
  <div id="AplDocs" class="reqtabcontent">
  <% 
    dest = @issue.csys.get_apl_documents_table
  %>
  <%= textilizable(dest)%>
  <!--p><%= dest %></p-->
  </div>
  <div id="RefDocs" class="reqtabcontent">
  <% 
    dest = @issue.csys.get_documents_table
  %>
  <%= textilizable(dest)%>
  <!--p><%= dest %></p-->
  </div>
  <div id="ComplDocs" class="reqtabcontent">
  <% 
    dest = @issue.csys.get_compdocs_table
  %>
  <%= textilizable(dest)%>
  </div>
  <!--p><%= dest %></p-->
  <div id="Actions" class="reqtabcontent">
  <table>
  <tr>
  <% if not @issue.status.is_closed then %>
  <% if not @issue.csys.is_chapter? then %>
  <td>Derive</td>
  <% end %>
  <td>Clone item</td>
    <% if @issue.csys.can_be_rq_closed? then %>
  <td>Zombie</td>
  <td>Erase</td>
  <% end %>
  <% end %>
  </tr>
  <tr>

  <% if not @issue.status.is_closed then %>

  <% if not @issue.csys.is_chapter? then %>

  <td>
    <%= form_tag({:controller => 'csys_req', :action => 'derive', :issue_id => @issue}, :class => "tabular", :multipart => true) do %>
      <p>
        <label><%= "Number of derived requirements to derive:" %> </label>
        <%= select_tag "count", raw("<option>1</option><option>2</option><option>3</option><option>4</option>") %>
      </p>
    <%= submit_tag l(:button_derive) %>
    <% end %>
  </td>

  <% end %>

  <td>
    <%= form_tag({:controller => 'csys_req', :action => 'clone', :issue_id => @issue}, :class => "tabular", :multipart => true) do %>
      <p>
        <label><%= "Clone with same parent and relations" %> </label>
      </p>
    <%= submit_tag l(:button_clone) %>
    <% end %>
  </td>
  
  <% if @issue.csys.can_be_rq_closed? then %>

  <td>
    <%= form_tag({:controller => 'csys_req', :action => 'zombie', :issue_id => @issue}, :class => "tabular", :multipart => true) do %>
      <p>
        <label><%= "Set as RqZombie" %> </label>
      </p>
    <%= submit_tag l(:button_zombie) %>
    <% end %>
  </td>

  <td>
    <%= form_tag({:controller => 'csys_req', :action => 'erase', :issue_id => @issue}, :class => "tabular", :multipart => true) do %>
      <p>
        <label><%= "Set as RqErased (only manager can recover)" %> </label>
      </p>
    <%= submit_tag l(:button_erase) %>
    <% end %>
  </td>

  <% end %>

  <% end %>
  
  </tr>
  </table>
  </div>
</div>
<%= javascript_include_tag 'cosmosys_req', :plugin => 'cosmosys_req' %>

