<h2>CosmosysReqr#menu</h2>
<p>Actions:</p>

<p><%= link_to 'Compliance Matrix (sorted by csID)', { :action => 'show'}, :method => :get %></p>
<p><%= link_to 'Compliance Matrix (sorted by chapter)', { :action => 'show', :sortbychapter => 'true'}, :method => :get %></p>
<p><%= link_to 'Reference documents table (sorted by RDx)', { :action => 'showdocs'}, :method => :get %></p>
<p><%= link_to 'Reference documents table (sorted by chapter)', { :action => 'showdocs', :sortbychapter => 'true'}, :method => :get %></p>
<p><%= link_to 'Compliance documents table (sorted by CDx)', { :action => 'showcompdocs'}, :method => :get %></p>
<p><%= link_to 'Compliance documents table (sorted by chapter)', { :action => 'showcompdocs', :sortbychapter => 'true'}, :method => :get %></p>

